$body-background-color: $white;
$sidebar-color: #003a48;
$body-heading-color: $blue-100;
$nav-child-link-color: $blue-100;
$link-color: $blue-000;
$header-height: 150px;
$feedback-color: darken($sidebar-color, 3%);
